<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TheLonelyMunchkin</title>
    <link rel="stylesheet" href="/static/css/cards.css">
    <script src="/static/js/game.js" defer></script>
</head>
<div class="card">
    <h4>Szint</h4>
    <p  id="level" data-level="1">1</p>
</div>
<div class="card">
    <h4>Harci erősség</h4>
    <p id="combat-strength" data-combatstrength="1">1</p>
</div>
<div class="card" id="gender">
    <h4>Nem</h4>
    <p><img src="/static/images/{{ gender }}.png" width="15px"></p>
</div>
<div class="card">
    <h4>Faj</h4>
    <p id="race" data-race="ember">Ember</p>
</div>
<div class="card">
    <h4>Kaszt</h4>
    <p id="class" data-class="bumpkin">Bugris</p>
</div>
<div class="plain-card" id="dg-back">
    <img src="/static/images/dungeon/back.jpg" width="80px">
</div>
<div class="plain-card" id="tr-back">
    <img src="/static/images/treasure/back.jpg" width="80px">
</div>
<div class="plain-card" id="dice">
    <img src="/static/images/dice.jpeg" width="100px">
</div>
<div class="plain-card" id="rolled-dice">
</div>
<hr>
<div>
Kézben tartott kártyák:
<p id="dg-cards-in-hands">{% for card in dg_cards %}
<img src="{{ card['image'] }}" width="150px" class="dg-card-hand" data-id="{{ card['id'] }}" data-type="{{ card['type'] }}" data-name="{{ card['name'] }}">
    {% endfor %} <img src="{{ dg_cards[0]['image'] }}" width="300px" class="right-card"></p>
<p id="tr-cards-in-hands">{% for card in tr_cards %}
<img src="{{ card['image'] }}" width="150px" class="tr-card-hand" data-id="{{ card['id'] }}" data-type="{{ card['type'] }}" data-bonus="{{ card['basic_bonus'] }}">
    {% endfor %}</p>
</div>
<div>
Kijátszott kártyák:
<p id="cards-on-table"></p>
</div>
</body>
</html>